# dependencies
node_modules/
.pnp/
.pnp.js

# next
.next/
out/

# production
dist/
build/
coverage/
playwright-report/
test-results/
artillery-report.json

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# local tooling
.DS_Store
Thumbs.db
.idea/
.vscode/
.agents/
skills-lock.json

# docker
.docker/

# sentry
.sentryclirc
